<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--客户映射 指定到dao接口 -->
<mapper namespace="com.deepexi.daqiutest.mapper.UserMapper">
    <sql id="Base_Column_List">
    id,     name,     phone,     meiju    </sql>

    <!--id与dao接口的方法名一直，指定结果类型，和参数类型 -->
    <select id="selectPageVo" resultType="com.deepexi.daqiutest.domain.UserDTO">
        SELECT <include refid="Base_Column_List"/> FROM user WHERE is_deleted=0
    </select>

</mapper>
